
body {
    background-color: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border: solid chocolate 5px;
}

@media screen and (min-width: 600px) {
    
}

/* 
body {
    background-color: blue;
}

@media screen and (min-width:600px) {
    body {
        background-color: red;
    }
}

@media screen and (min-width:1200px) {
    body {
        background-color: green;
    }
} */