
body {
    background-color: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border: solid chocolate 2px;
}

@media screen and (min-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 0px 15px
    }
    body {
        display: flex;
        column-gap: 10px;
    }
}

/* 
body {
    background-color: blue;
}

@media screen and (min-width:600px) {
    body {
        background-color: red;
    }
}

@media screen and (min-width:1200px) {
    body {
        background-color: green;
    }
} */